{% extends 'base.html.twig' %}

{% block title %}Hello GestionVillesLieuxController!{% endblock %}

{% block body %}
    <table>
        <tr>
            <td>Ville</td>
            <td>Code Postal</td>
            <td>Action</td>
        </tr>

        {% for ville in villes %}
            <tr>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <button class="btn-outline-dark">
                        <a href="{{ path('delete_ville', {'idVille': ville.id}) }}"> Supprimer </a>
                    </button>
                </td>
            </tr>
        {% endfor %}

        <tr>
            {{ form_start(formVille) }}
            <td> {{ form_widget(formVille.nom) }} </td>
            <td> {{ form_widget(formVille.codePostal) }}</td>
            <td> {{ form_widget(formVille.Ajouter, {'attr': {'class': 'btn-outline-dark'} }) }}</td>
            {{ form_end(formVille) }}
        </tr>
    </table>
{% endblock %}
