{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {{ form_start(filtres) }}
    {{ form_row(filtres.contient) }}
    {{ form_widget(filtres.choices) }}


    {{ form_end(filtres) }}
    <table class="flex-column table table-dark mt-5  mx-auto" id="list-table">
        <thead class="">
            <tr scope="row">
                <th class="col-1" scope="col">Nom de la sortie</th>
                <th class="col-2" scope="col">Date de la sortie</th>
                <th class="col-2" scope="col">Clôture</th>
                <th class="col-1" scope="col">Place</th>
                <th class="col-1" scope="col">Etat</th>
                <th class="col-1" scope="col">Inscrit</th>
                <th class="col-1" scope="col">Organisateur</th>
                <th class="col-1" scope="col">Actions</th>
                <th class="col-1" scope="col">Inscription</th>
                <th class="col-1"></th>
            </tr>
        </thead>
    <tbody class="flex-column  mx-auto">
        {% for sortie in liste %}
            <tr class="">
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date('d-m-Y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                <td>{{ sortie.participant.count }} / {{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.organisateur }}</td>

                <td><button type="button" data-toggle="modal" data-target="#infos{{ sortie.id }}" class="btn btn-outline-info">Info
                    </button>
                    {% include "home/detailsModal.html.twig" %}
                </td>

                <td> {% set bool = false %}
                    {% for p in sortie.participant %}
                        {%if p.nom==nomUser %}
                            {% if sortie.dateHeureDebut >= ajourdhui%}
                                      <a href="{{ path('seDesister', {'idSortie': sortie.id}) }}">Se desister</a>
                                {% else %}
                                        Desistement impossible
                             {% endif%}
                            {% set bool = true %}
                        {% endif %}
                    {% endfor %}

                    {% if sortie.etat.libelle=='Ouverte' and sortie.dateLimiteInscription >= ajourdhui and bool==false and sortie.participant.count<=sortie.nbInscriptionMax %}
                        <a href="{{ path('inscription', {'idSortie': sortie.id}) }}">S'incrire</a>

                        {% elseif  sortie.etat.libelle!='Ouverte' or sortie.dateLimiteInscription <= ajourdhui%}
                            Inscription indisponible
                    {% endif %}
                </td>

                {% if sortie.organisateur.nom == app.user.nom %}
                <td>
                    <a href="{{ path('sortie_annuler', {'idSortie': sortie.id}) }}"> Annuler la sortie </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        {{ message }}
    </tbody>
</table>
    <button type="button" class="btn btn-outline-info"><a href="{{ path('sortie_create') }}"> Créer une sortie </a></button>
{% endblock %}


