{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
            <!------------------------------------------------->
            <!---------------FORMULAIRE SEARCH----------------->
            <!------------------------------------------------->
    {{ form_start(filtres) }}
    <div class="mt-5 d-flex flex-row">

        <div class="">
            <p>Filtrer les sorties</p>

            <div>
                {{ form_row(filtres.campus) }}
            </div>

            <div>
                {{ form_row(filtres.contient) }}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div class="">
                    {{ form_row(filtres.dateDeb) }}
                </div>

                <div class="">
                    {{ form_row(filtres.dateFin) }}
                </div>
            </div>
        </div>
        <div class="ml-5 mr-5">
            {{ form_widget(filtres.choices) }}
        </div>
        <div class="ml-5">
            {{ form_widget(filtres.submit) }}
        </div>
    </div>
    {{ form_end(filtres) }}

            <!------------------------------------------------->
            <!---------------------TABLEAU--------------------->
            <!------------------------------------------------->
    <table class="flex-column table table-dark mt-3  mx-auto " id="list-table">
        <thead class="">
            <tr scope="row">
                <th class="col-1" scope="col">Nom de la sortie</th>
                <th class="col-2" scope="col">Date et heure de la sortie</th>
                <th class="col-2" scope="col">Date limite d'inscription</th>
                <th class="col-1" scope="col">Place</th>
                <th class="col-1" scope="col">Etat</th>
                <th class="col-1" scope="col">Inscrit</th>
                <th class="col-1" scope="col">Organisateur</th>
                <th class="col-1" scope="col">Actions</th>
                <th class="col-1" scope="col">Inscription</th>
                <th class="col-1"></th>
            </tr>
        </thead>
    <tbody class="flex-column  mx-auto">
        {% for sortie in liste %}
            <tr class="">
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date('d-m-Y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                <td>{{ sortie.participant.count }} / {{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.organisateur }}</td>

                <td>
                    <button type="button" data-toggle="modal" data-target="#infos{{ sortie.id }}" class="btn btn-outline-info">Info</button>
                    {% include "home/detailsModal.html.twig" %}
                </td>

                <td> {% set bool = false %}
                    {% for p in sortie.participant %}
                        {%if p.nom==nomUser %}
                            {% if sortie.dateHeureDebut >= ajourdhui%}
                                      <a href="{{ path('seDesister', {'idSortie': sortie.id}) }}">Se desister</a>
                                {% else %}
                                        Desistement impossible
                             {% endif%}
                            {% set bool = true %}
                        {% endif %}
                    {% endfor %}

                    {% if sortie.etat.libelle=='Ouverte' and sortie.dateLimiteInscription >= ajourdhui and bool==false and sortie.participant.count<=sortie.nbInscriptionMax %}
                        <a href="{{ path('inscription', {'idSortie': sortie.id}) }}">S'incrire</a>

                        {% elseif  sortie.etat.libelle!='Ouverte' or sortie.dateLimiteInscription <= ajourdhui%}
                            {% if sortie.etat.libelle =='Ouverte' and bool==true%}
                                Vous etes inscrit
                                {% else %}
                                Inscription indisponible
                            {% endif %}
                    {% endif %}
                </td>

                {% if sortie.organisateur == app.user %}
                    <td>
                        <a href="{{ path('sortie_annuler', {'idSortie': sortie.id}) }}"> Annuler la sortie </a>

                    </td>
                    <td>
                        <a href="{{ path('sortie_update', {'idSortie': sortie.id}) }}"> Modifier la sortie </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        {{ message }}
    </tbody>
</table>
    <button type="button" class="btn border-white text-uppercase "><a class="text-white " href="{{ path('sortie_create') }}"> Créer une sortie </a></button>
{% endblock %}


