{% block stylesheets %}
    {{ encore_entry_link_tags('campus') }}
{% endblock %}

<table class="body body_campus">

    <tr class="titre">
        <td><strong>Campus</strong></td>
        <td><strong>Action</strong></td>
    </tr>

    {% for camp in campus %}
        <tr>
            <td>{{ camp.nom }}</td>
            <td>
                <button class="button">
                    <a href="{{ path('admin_delete_campus', {'idCampus': camp.id}) }}"> Supprimer </a>
                </button>
            </td>
        </tr>
    {% endfor %}

    <tr>
        {{ form_start(formCampus) }}
        <div>
            <td> {{ form_widget(formCampus.nom) }} </td>
            <td {{ form_widget(formCampus.Ajouter, {'attr': {'class': 'button'} }) }}</div>
        </div>
        {{ form_end(formCampus) }}
    </tr>
</table>