{% block stylesheets %}
    {{ encore_entry_link_tags('lieux') }}
{% endblock %}

<div class="body">
    <table id="table-lieu">
        <thead>
            <tr>
                <th>Ville</th>
                <th>Rue</th>
                <th>Nom du Lieu</th>
                <th>Latitude</th>
                <th>Longitude</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Action</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for lieu in lieux %}
            <tr>
                <td>{{ lieu.ville.nom }}</td>
                <td>{{ lieu.rue }}</td>
                <td>{{ lieu.nom }}</td>
                <td>{{ lieu.latitude }}</td>
                <td>{{ lieu.longitude }}</td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="button">
                        <a href="{{ path('admin_delete_lieu', {'idLieu': lieu.id}) }}"> Supprimer </a>
                    </button>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="h-100 d-flex align-items-center justify-content-center formulaire">
        {{ form_start(formLieu) }}
            <div class="d-flex flex-column align-items-end">
                <select class="" name="ville">#}
                    {% for ville in villes %}
                        <option value="{{ ville.nom }}"> {{ ville.nom }} </option>
                    {% endfor %}
                </select>
                <div> {{ form_row(formLieu.rue) }} </div>
                <div> {{ form_row(formLieu.nom) }} </div>
                <div> {{ form_row(formLieu.latitude) }}</div>
                <div> {{ form_row(formLieu.longitude) }}</div>
                <div> {{ form_row(formLieu.Ajouter, {'attr': {'class': 'button'} }) }}</div>
            </div>
        {{ form_end(formLieu) }}
    </div>
</div>
