<nav class="navbar">
    <div id="trapezoid">

        <div class="subnav">
            <p class="subnavbtn">Accueil<i class="fa fa-caret-down"></i></p>
            <div class="subnav-content">
                <div id="subnav-trapezoid">
                    <a href="{{ path('home') }}">Liste des sorties</a>
                    <a href="{{ path('home') }}">Contactez-nous</a>
                </div>
            </div>
        </div>
        <div class="subnav">
            <p class="subnavbtn">{{ app.user.pseudo }}<i class="fa fa-caret-down"></i></p>
            <div class="subnav-content">
                <div id="subnav-trapezoid">
                    <a href="{{ path('user_show', {'id':app.user.id}) }}">Mon profil</a>
                    <a href="{{ path('user_index') }}">Liste des utilisateurs</a>
                    <a href="{{ path('app_logout') }}">Deconnexion</a>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="subnav">
            <p class="subnavbtn">Admin<i class="fa fa-caret-down"></i></p>
            <div class="subnav-content">
                <div class="subnav-trapezoid">
                    <a href="{{ path('admin_index') }}">Panel Admin</a>
                    <a href="{{ path('user_index') }}">Liste des utilisateurs</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</nav>
