{% block stylesheets %}
    {{ encore_entry_link_tags('villes') }}
{% endblock %}


<div class="body">
        <table id="table-lieu" class="tableau">
            <thead>
                <tr>
                    <th>Ville</th>
                    <th>Code Postal</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for ville in villes %}
                    <tr>
                        <td>{{ ville.nom }}</td>
                        <td>{{ ville.codePostal }}</td>
                        <td>
                            <button class="">
                                <a href="{{ path('admin_delete_ville', {'idVille': ville.id}) }}"> Supprimer </a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
                {{ form_start(formVille) }}
                <div>
                    <div> {{ form_widget(formVille.nom) }} </div>
                    <div> {{ form_widget(formVille.codePostal) }}</div>
                    <div> {{ form_widget(formVille.Ajouter, {'attr': {'class': 'button'} }) }}</div>
                </div>
                {{ form_end(formVille) }}
        </div>
    </div>