<table>
    <thead>
        <tr>
            <th>Ville</th>
            <th>Code Postal</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <button class="btn-outline-dark">
                        <a href="{{ path('admin_delete_ville', {'idVille': ville.id}) }}"> Supprimer </a>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            {{ form_start(formVille) }}
            <td> {{ form_widget(formVille.nom) }} </td>
            <td> {{ form_widget(formVille.codePostal) }}</td>
            <td> {{ form_widget(formVille.Ajouter, {'attr': {'class': 'btn-outline-dark'} }) }}</td>
            {{ form_end(formVille) }}
        </tr>
    </tfoot>
</table>