{% extends 'base.html.twig' %}

{% block title %}Creer une sortie{% endblock %}

{% block stylesheets %}
    <style>
        form{ height: 600px; width: 85%; }
        form div { margin-top: 15px; }
        label { margin-right: 12px; }
        #sortie_create_duree { display: inline-block; }
        table, th, td { border: 1px solid black; }
        table select { width: 100%; }
        textarea { resize: both; }
    </style>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("sortie_create") }}
{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'class': 'm-2 mx-5 '} }) }}

    <div class="d-flex justify-content-around h-75 p-2 text-dark">

        <!--- PARTIE GAUCHE DE LA PAGE -------------------------------------------->
        <div>
            {{ form_row(form.nom) }}
            {{ form_row(form.dateHeureDebut) }}
            {{ form_row(form.dateLimiteInscription) }}
            {{ form_row(form.nbInscriptionMax) }}
            {{ form_row(form.duree) }}
            <div>
                {{ form_label(form.infosSortie) }} <br>
                {{ form_widget(form.infosSortie, {'attr': {'rows': 4, 'cols': 50} }) }}
            </div>
        </div>

        <!--- PARTIE DROITE DE LA PAGE -------------------------------------------->
        <div>
            <div>
                Campus : {{ app.user.campus.nom }}
{#                <button class="btn btn-outline-primary mx-2" type="button">#}
{#                    <a href="{{ path('gestion_campus') }}"> + </a>#}
{#                </button>#}
            </div>

            <div>
                <label for="lieu"> Lieu </label>
                <select name="lieu" id="lieu">
                    {% for lieu in lieux %}
                        {% set lieu_json = {
                            ville:lieu.ville.nom,
                            rue:lieu.rue,
                            codePostal:lieu.ville.codePostal,
                            longitude:lieu.longitude,
                            latitude:lieu.latitude
                        } %}

                    <!-- remplacement de lieu.nom par lieu.id dans la value //pour éviter l'erreur dans ajouter un lieu-->
                    <option data-lieu="{{ lieu_json | json_encode() }}" value="{{ lieu.id }}"> {{ lieu.nom }} </option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-primary mx-2" type="button">
                    <a href="{{ path('gestion_lieux') }}"> + </a>
                </button>
            </div>

            <div>
                Ville : <span id="ville_js_sortie"></span>
{#                <button class="btn btn-outline-primary mx-2" type="button">#}
{#                    <a href="{{ path('gestion_villes') }}"> + </a>#}
{#                </button>#}
            </div>

            <div> Rue : <span id="rue_js_sortie"> </span> </div>
            <div> Code Postal : <span id="code_js_sortie"> </span> </div>
            <div> Longitude : <span id="longitude_js_sortie"> </span> </div>
            <div> Latitude : <span id="latitude_js_sortie"> </span> </div>
        </div>
    </div><br>

    <div class="d-flex justify-content-around">
        <span class="text-danger">
            {{ form_widget(form.Creer, {'attr': {'class': 'btn btn-outline-dark'} }) }}
            {{ form_widget(form.Publier, {'attr': {'class': 'btn btn-outline-dark'} }) }}
            {{ form_errors(form) }}
        </span>
    </div>

    {{ form_end(form) }}
{% endblock %}
