{% extends 'base.html.twig' %}

{% block title %}Creer une sortie{% endblock %}

{% block stylesheets %}
    <style>
        form{ height: 600px; width: 85%; }
        form div { margin-top: 15px; }
        label { margin-right: 12px; }
        #sortie_create_duree { display: inline-block; }
        table, th, td { border: 1px solid black; }
        table select { width: 100%; }
        textarea { resize: both; }
    </style>
{% endblock %}


{% block body %}

    {{ form_start(form, {'attr': {'class': 'm-2 mx-5 '} }) }}

    <div class="d-flex justify-content-around h-75 p-2 text-dark">

        <!--- PARTIE GAUCHE DE LA PAGE -------------------------------------------->
        <div>
            {{ form_row(form.nom) }}
            {{ form_row(form.dateHeureDebut) }}
            {{ form_row(form.dateLimiteInscription) }}
            {{ form_row(form.nbInscriptionMax) }}
            {{ form_row(form.duree) }}
            <div>
                {{ form_label(form.infosSortie) }} <br>
                {{ form_widget(form.infosSortie, {'attr': {'rows': 4, 'cols': 50} }) }}
            </div>
        </div>

        <!--- PARTIE DROITE DE LA PAGE -------------------------------------------->
        <div>
            <div>
                Campus : {{ app.user.campus.nom }}
                <button class="btn btn-outline-primary mx-2" type="button">
                    <a href="{{ path('gestion_campus') }}"> + </a>
                </button>
            </div>

            <div>
                <label for="lieu"> Lieu </label>
                <select name="lieu" id="lieu">
                    {% for lieu in lieux %}
                    <option value="{{ lieu.nom }}"> {{ lieu.nom }} </option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-primary mx-2" type="button">
                    <a href="{{ path('gestion_lieux') }}"> + </a>
                </button>
            </div>

            <div>
                Ville : ville
                <button class="btn btn-outline-primary mx-2" type="button">
                    <a href="{{ path('gestion_villes') }}"> + </a>
                </button>
            </div>

            <div> Rue : Rue </div>
            <div> Code Postal : 00000 </div>
            <div> Longitude : </div>
            <div> Latitude : </div>
        </div>
    </div><br>

    <div class="d-flex justify-content-around">
        <span>
        {{ form_errors(form) }}
        {{ form_widget(form.Creer, {'attr': {'class': 'btn btn-outline-dark'} }) }}
        {{ form_widget(form.Publier, {'attr': {'class': 'btn btn-outline-dark'} }) }}
        </span>
    </div>

    {{ form_end(form) }}
{% endblock %}
