{% extends 'base.html.twig' %}

{% block title %} Modifier une sortie {% endblock %}
{% block stylesheets %} {{ encore_entry_link_tags("sortie_create") }} {% endblock %}
{% block javascripts %} {{ encore_entry_script_tags("sortie_create") }} {% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="d-flex justify-content-around h-75 p-2 text-light">

        <!--- PARTIE GAUCHE DE LA PAGE -------------------------------------------->
        <div>
            {{ form_row(form.nom) }}
            {{ form_row(form.dateHeureDebut) }}
            {{ form_row(form.dateLimiteInscription) }}
            {{ form_row(form.nbInscriptionMax) }}
            {{ form_row(form.duree) }}
            <div>
                {{ form_label(form.infosSortie) }} <br>
                {{ form_widget(form.infosSortie, {'attr': {'rows': 4, 'cols': 50} }) }}
            </div>
        </div>

        <!--- PARTIE DROITE DE LA PAGE -------------------------------------------->
        <div>
            <div> Campus : {{ app.user.campus.nom }} </div>

            <div>
                Etat
                <select name="etat">
                    {% if sortie.dateHeureDebut > date() %}
                        <option value="Créée"> Créée </option>
                        <option value="Ouverte"> Ouverte </option>
                        <option value="Cloturée"> Cloturée </option>
                        <option value="Annulée"> Annulée </option>
                    {% endif %}
                    {% if sortie.dateHeureDebut < date() %}
                        <option value="Activité en cours"> Activité en cours </option>
                        <option value="Passée"> Passée </option>
                    {% endif %}
                </select>
            </div>

            <div>
                Lieu
                <select name="lieu" id="lieu">
                    {% for lieu in lieux %}
                        {% set lieu_json =
                            {
                                ville:lieu.ville.nom,
                                rue:lieu.rue,
                                codePostal:lieu.ville.codePostal,
                                longitude:lieu.longitude,
                                latitude:lieu.latitude
                            }
                        %}
                        <option data-lieu="{{ lieu_json | json_encode() }}" value="{{ lieu.nom }}"> {{ lieu.nom }} </option>
                    {% endfor %}
                </select>
            </div>

            <div> Ville : <span id="ville_js_sortie"></span> </div>
            <div> Rue : <span id="rue_js_sortie"> </span> </div>
            <div> Code Postal : <span id="code_js_sortie"> </span> </div>
            <div> Longitude : <span id="longitude_js_sortie"> </span> </div>
            <div> Latitude : <span id="latitude_js_sortie"> </span> </div>
        </div>
    </div><br><br>

    <div class="d-flex justify-content-around">
        <span class="text-danger">
            {{ form_widget(form.Creer, {'attr': {'class': 'd-none'} }) }} <!-- CE BOUTON N'EST PAS AFFICHE -->
            {{ form_widget(form.Publier, {'attr': {'class': 'btn btn-outline-light'} }) }}
            {{ form_errors(form) }}
        </span>
    </div>

    {{ form_end(form) }}
{% endblock %}
