<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </head>

    <body class="d-flex flex-column h-100 ">
        {% if app.user %}
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-secondary ">
                {#        <a class="navbar-brand" href="#"><img src="{{ asset('build/logo/logo.png') }}"></a>   #}
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="collapsibleNavId">
                    <ul class="navbar-nav mt-0 mt-lg-0 font-weight-bold justify-content-center w-100 text-uppercase ">

                        <li class="nav-item">
                            <a class="nav-link " href="">Villes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="">Campus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" title="Gérer mon profil">Mon Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% endif %}

        <div class="container flex-grow-1 ">
            {% block body %}{% endblock %}
        </div>

        <footer>
            <div>
                <p class="d-flex justify-content-center w-100" id="copyright">&copy;Eni - Projet 'Sortir'
                    {{ "now" |date('Y') }} <br>
                </p>
            </div>
        </footer>
    </body>
</html>
