{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

    <h1>Modifier mon profil</h1>

<div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button> Enregistrer les modifications</button>
    {{ form_end(form) }}

</div>

    <a href="{{ path('user_index') }}">Revenir</a>

    {{ include('user/_delete_form.html.twig') }}

{% endblock %}
