{% extends 'base.html.twig' %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('profil') }}
        {% endblock %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

    <!--Affichage d'un message flash -->
    {% for label,messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <h1 class="d-flex justify-content-center text-light ">Modifier mon profil</h1> </br>

    {{ form_start(formUpdate, {'attr': {'class': 'd-flex justify-content-around'} }) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(formUpdate) }}
    </div>

<table>
    <div class="d-flex justify-content-center tableau body_edit">



        <div class="">     <div class="" id="">
            {{ form_row(formUpdate.pseudo,{'attr':{'placeholder': app.user.pseudo }}) }}
        </div>
        <div class="">
            {{ form_row(formUpdate.nom,{'attr':{'placeholder': app.user.nom }}) }}
        </div>
        <div class="">
            {{ form_row(formUpdate.prenom,{'attr':{'placeholder': app.user.prenom }}) }}
        </div>
        <div class="">
            {{ form_row(formUpdate.telephone,{'attr':{'placeholder': app.user.telephone }}) }}
        </div>
        <div class="" >
            {{ form_row(formUpdate.campus) }}
        </div>
        <div class="">
            {{ form_row(formUpdate.email,{'attr':{'placeholder': app.user.email }}) }}
        </div>

        <div class="">
            {{ form_row(formUpdate.plainPassword) }}
        </div>

        <div class="">
            {{ form_row(formUpdate.photo) }}
        </div>

            </br>

        <div class="">
            <button class="btn btn-outline-info ">Modifier le profil</button>
        </div>


    </div>

    </table>
    </div>

    {{ form_end(formUpdate) }}



{% endblock %}
