{% extends 'base.html.twig' %}

{% block title %}Liste des élèves{% endblock %}

{% block body %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('profil') }}
    {% endblock %}
    <h1 class="text-light">Liste des participants</h1> </br>

    <table class="table tableau_index " id="corpsDuTableau">
        <thead>
            <tr class="">

                <th>Email</th>
                {% if  app.user.roles[0]  == "ROLE_ADMIN" %}
                <th>Role</th>
                {% endif %}
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>


                <th>Date de création</th>
                <th>Redirections</th>
                {% if  app.user.roles[0]  == "ROLE_ADMIN" %}
                    <th>Activer/Desactiver</th>
                {% endif %}


            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr class="">

                <td>{{ participant.email }}</td>
                {% if  app.user.roles[0]  == "ROLE_ADMIN" %}
                <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>
                {% endif %}
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.telephone }}</td>

                <td>{{ participant.createdAt ? participant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="">
                    <a href="{{ path('user_show', {'id': participant.id}) }}">Profil</a> </br>
                </td>
                <td>
                {% if app.user!=participant%}
                    {% if app.user.roles[0]  == "ROLE_ADMIN" and participant.actif%}

                            <a href="{{ path('actDes', {'idParticipant': participant.id}) }}">Desactiver</a> </br>

                    {% else %}
                    {% if  app.user.roles[0]  == "ROLE_ADMIN" and participant.actif%}
                            <a href="{{ path('actDes', {'idParticipant': participant.id}) }}">Activer</a> </br>
                    {% endif %}
                </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
