{% extends 'base.html.twig' %}

{% block title %}Liste des élèves{% endblock %}

{% block body %}


    {% block stylesheets %}
        <link href="{{ asset('css/profil.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}

    <h1 class="text-light">Liste des participants</h1> </br>
<div class="tableau_index">
    <table class="table " id="corpsDuTableau">
        <thead>
            <tr class="">

                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                {% for participant in participants %}
                {% if app.user.roles[0]  == "ROLE_ADMIN" and participant.actif%}
                <th>Actif</th>
                {% endif %}
                {% endfor %}
                <th>Date de création</th>
                <th>Redirections</th>
                {% if  app.user.roles[0]  == "ROLE_ADMIN" %}
                    <th>Activer/Desactiver</th>
                {% endif %}


            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr class="">

                <td>{{ participant.email }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.telephone }}</td>
                {% if app.user.roles[0]  == "ROLE_ADMIN" and participant.actif%}
                <td>{{ participant.actif ? 'Oui' : 'Non' }}</td>
                {% endif %}
                <td>{{ participant.createdAt ? participant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="">
                    <a href="{{ path('user_show', {'id': participant.id}) }}">Profil</a> </br>
                </td>
                {% if app.user!=participant%}
                    {% if app.user.roles[0]  == "ROLE_ADMIN" and participant.actif%}
                        <td>
                            <a href="{{ path('actDes', {'idParticipant': participant.id}) }}">Desactiver</a> </br>

                        </td>
                    {% else %}
                        <td>
                            <a href="{{ path('actDes', {'idParticipant': participant.id}) }}">Activer</a> </br>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
