{% extends 'base.html.twig' %}

{% block title %}Liste des élèves{% endblock %}

{% block body %}
    <h1>Liste des participants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Role</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Actif</th>
                <th>Date de création</th>
                <th>Redirections</th>
                {% if  app.user.roles[0]  == "ROLE_ADMIN" %}
                    <th>Activer/Desactiver</th>
                {% endif %}


            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.email }}</td>
                <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.telephone }}</td>
                <td>{{ participant.actif ? 'Oui' : 'Non' }}</td>
                <td>{{ participant.createdAt ? participant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': participant.id}) }}">Profil</a> </br>
                </td>
                {% if app.user!=participant%}
                    {% if app.user.roles[0]  == "ROLE_ADMIN" and participant.actif%}
                        <td>
                            <a href="{{ path('admin_actDes', {'idParticipant': participant.id}) }}">Desactiver</a> </br>

                        </td>
                    {% else %}
                        <td>
                            <a href="{{ path('admin_actDes', {'idParticipant': participant.id}) }}">Activer</a> </br>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
