{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    <table class="table">
        <tbody>
             <tr>
                <th>Prenom</th>
                <td>{{ participant.prenom }}</td>
             </tr>
             <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ participant.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
             <tr>
                 <th> Campus</th>
                 <td> {{ participant.campus.nom }}</td>
             </tr>

            <tr>
                <th>Date de création du compte</th>
                <td>{{ participant.createdAt ? participant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

             <tr>
                 <th> Photo</th>
                 <td> {{ participant.photo }}</td>
             </tr>

        </tbody>
    </table>
<a>
    <a href="{{ path('user_index') }}">Accéder à la liste des membres</a> </br>



{% if (participant==app.user) %}


 <a href="{{ path('user_edit', {'id': participant.id}) }}">Modifier mon Profil</a>


{% endif %}
<div>
{% if is_granted('ROLE_ADMIN') %}

<a href="{{ path('user_delete', {'id':participant.id}) }}">Effacer mon Profil </a>

{% endif %}</div>
{% endblock %}
