{% extends 'base.html.twig' %}

{% block title %} Profil{% endblock %}

{% block body %}
    <h1 class="text-light">Profil</h1> </br>



    <table class="table table-hover text-light">
        <tbody>
             <tr>
                <th>Prenom</th>
                <td><em>{{ participant.prenom }}</em></td>
             </tr>
             <tr>
                <th>Nom</th>
                <td><em>{{ participant.nom }}</em></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><em>{{ participant.email }}</em></td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td><em>{{ participant.telephone }}</em></td>
            </tr>
             <tr>
                 <th> Campus</th>
                 <td> <em>{{ participant.campus.nom }}</em></td>
             </tr>

            <tr>
                <th>Date de création du compte</th>
                <td><em>{{ participant.createdAt ? participant.createdAt|date('Y-m-d H:i:s') : '' }}</em></td>
            </tr>
             <tr>
                 <th> Photo</th>
                 {% if participant.photo is not null %}
                 <td> <img src="{{ asset ('img/'~participant.photo.nom) }}" alt="photo de profil" width="200" height="200"/></td>
                {% endif %}
             </tr>

        </tbody>
    </table>
    {% if participant.actif==true%}
        <div>
            <a href="{{ path('user_index') }}">Accéder à la liste des membres</a> </br>
        </div>

        {% if (participant==app.user) %}

             <a href="{{ path('user_edit', {'id': participant.id}) }}">Modifier mon Profil</a>

            {{ include('user/_delete_form.html.twig') }}

        {% endif %}
    {% endif %}


{% endblock %}
